.info
{
    font-size:medium;
    padding-top: 1px;
    padding-left: 30px;
    padding-right: 100px;
    padding-bottom: 27px;
    border: 2px solid black;
    background-color: bisque;
    width: 140px;
}
.con
{
    font-size: large;
    text-align: center;
    background-color: violet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.table1
{
    border-radius: 70px;
    font-style: italic;
    border-color: aquamarine;
    
}
.des
{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.int
{
    font-size:large;
    font-style:unset;
    
}
.img{
    position: relative; 
    top:10px;
    bottom:500px;
    right: 50px;
    float: right;
    border: 5px solid red;
}